<div class=" content">
    <div class=" row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class=" col-md-6 ml-auto mr-auto text-center">
                <div class=" card card-user">
                    <div class=" card-body">
                        <p class=" card-text"></p>
                        <div class=" author">
                            <div class=" block block-one"></div>
                            <div class=" block block-two"></div>
                            <div class=" block block-three"></div>
                            <div class=" block block-four"></div>
                            <div class=" col-md-12 ml-auto mr-auto text-center">
                                <div class=" font-icon-detail">
                                    <i class=" tim-icons icon-single-02"> </i>
                                    <br/><br/>
                                    <h4 class=" title">BIENVENUE CHEZ TAXI<b>DRIVER</b> !</h4>
                                    <h5 class=" description">Créez votre compte et bénéficiez de nos avantages clients !</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-8 ml-auto mr-auto text-center">
                        <form>
                            <div class=" row">
                                <div class=" col-md-12 pr-md-1">
                                    <div class=" form-group">
                                        <label> Nom </label>
                                        <input class=" form-control" placeholder="Nom" type="text" />
                                    </div>
                                </div>
                                <div class=" col-md-12 pr-md-1">
                                    <div class=" form-group">
                                        <label> Prénom </label>
                                        <input class=" form-control" placeholder="Prénom" type="text" />
                                    </div>
                                </div>
                                <div class=" col-md-12 pr-md-1">
                                    <div class=" form-group">
                                        <label> Username </label>
                                        <input class=" form-control" placeholder="Username" type="text" />
                                    </div>
                                </div>
                                <div class=" col-md-12 pr-md-1">
                                    <div class=" form-group">
                                        <label> Mail </label>
                                        <input class=" form-control" placeholder="Mail" type="text" />
                                    </div>
                                </div>
                                <div class=" col-md-12 pr-md-1">
                                    <div class=" form-group">
                                        <label> Mot de passe </label>
                                        <input class=" form-control" placeholder="Mot de passe" type="password" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class=" btn btn-fill btn-danger" type="submit">Créer mon compte</button>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>