<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class="first-page" style="background-image: url(../../../assets/img/reservations.jpg) ;">
                    
                    <div class=" row" id="row-middle">
                        <div class=" col-md-12">
                            <div class=" card" id="card-middle">
                                <div class=" card-body">
                                    <div class="second-page">
                                        <div class=" typography-line">
                                            <div class=" col-md-12 pr-md-1">
                                                <h2>Mes feedbacks</h2>
                                                <div class=" row">
                                                    <div class=" col-md-12">
                                                    </div>
                                                    <div class=" card-body"></div>
                                                    <div class=" table-responsive">
                                                        <table class=" table tablesorter" id="">
                                                            <thead class=" text-primary">
                                                                <tr>
                                                                    <th>Numéro</th>
                                                                    <th>Date</th>
                                                                    <th>Type</th>
                                                                    <th class=" text-center">Sélectionner</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>0054876238</td>
                                                                    <td>31/08/2021</td>
                                                                    <td>Evaluation</td>
                                                                    <td class=" text-center" title="Consulter"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>0052836932</td>
                                                                    <td>21/06/2021</td>
                                                                    <td>Commentaire</td>
                                                                    <td class=" text-center" title="Consulter"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>0044386492</td>
                                                                    <td>18/11/2019</td>
                                                                    <td>Commentaire</td>
                                                                    <td class=" text-center" title="Consulter"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>