<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class="first-page" style="background-image: url(../../../assets/img/taxi.jpg) ;">
                    <div class=" card-body">
                        <div class=" typography-line">
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <pre><h4>Référence mondiale pour réserver son taxi,
TaxiDriver vous propose plusieurs centaines d'agences dans les plus grandes villes de la planète</h4>
                            </pre>
                        </div>
                    </div>
                    <div class=" row" id="row-middle">
                        <div class=" col-md-12">
                            <div class=" card" id="card-middle">
                                <div class=" card-body">
                                    <div class="second-page">
                                        <div class=" typography-line">
                                            <div class=" col-md-12 pr-md-1">
                                                <h2>Réserver un taxi</h2>
                                                <form>
                                                    <div class=" row">
                                                        <div class=" col-md-4 pr-md-1">
                                                            <label> Départ </label>
                                                        </div>
                                                        <div class=" col-md-4 pr-md-1">
                                                            <label> Arrivée </label>
                                                        </div>
                                                        <div class=" col-md-4 pr-md-1">
                                                            <label> Date et heure de départ </label>
                                                        </div>
                                                    </div>
                                                    <div class=" row">
                                                        <div class=" col-md-4 pr-md-1">
                                                            <div class=" form-group">
                                                                <input class=" form-control" placeholder="Gare du Nord, Aéroport Paris Orly, ..." type="text" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md-4 pl-md-1">
                                                            <div class=" form-group">
                                                                <input class=" form-control" placeholder="Gare Montparnasse, Tour Eiffel, ..." type="text" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md-4 pl-md-1">
                                                            <div class=" form-group">
                                                                <input class=" form-control" type="datetime-local" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class=" btn btn-fill btn-warning" type="submit">Proposer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row" id="offres">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body">
                    <div class="second-page">
                        <div class=" typography-line">
                            <div class=" col-md-12 pr-md-1">
                                <h2>Nos offres</h2>
                                <div class=" card">
                                    <div class=" card-body">
                                        <div class=" row"></div>
                                        <div class=" col-md-12">
                                            <h1>10 % de réduction</h1>
                                            <p>Pour un trajet de plus de 30 km </p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" card">
                                    <div class=" card-body">
                                        <div class=" row"></div>
                                        <div class=" col-md-12">
                                            <h1>Une paire de pantoufles offerte </h1>
                                            <p>Pour un trajet de plus de 10 km en calèche </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row" id="agences">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body">
                    <div class="second-page">
                        <div class=" typography-line">
                            <div class=" col-md-12 pr-md-1">
                                <h2>Les agences référencées</h2>
                                <div class=" card">
                                    <div class=" card-body">
                                        <div class=" row"></div>
                                        <div class=" col-md-12">
                                            <h1>Paris</h1>
                                            <p>Taxis de la Seine</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" card">
                                    <div class=" card-body">
                                        <div class=" row"></div>
                                        <div class=" col-md-12">
                                            <h1>Melun</h1>
                                            <p>Taxis de la Marne</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>