<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class=" container-fluid">
        <div class=" navbar-wrapper">
            <div class=" navbar-toggle d-inline">
                <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
            </div>
            <a [hidden]="authenticated()" class=" navbar-brand" href="http://localhost:4200/#/home">
                <h1>TAXI<b class="yellow">DRIVER</b></h1>
            </a>
            <a [hidden]="!autorAdmin() || !authenticated()" class=" navbar-brand" href="http://localhost:4200/#/dashboard">
                <h1>TAXI<b class="yellow">DRIVER</b></h1>
            </a>
            <a [hidden]="!autorClient() || !authenticated()" class=" navbar-brand" href="http://localhost:4200/#/home">
                <h1>TAXI<b class="yellow">DRIVER</b></h1>
            </a>
            <a [hidden]="!autorChauffeur() || !authenticated() " class=" navbar-brand " href="http://localhost:4200/#/dashboard">
                <h1>TAXI<b class="yellow">DRIVER</b></h1>
            </a>
            <a [hidden]="!autorRespo() || !authenticated() " class=" navbar-brand " href="http://localhost:4200/#/dashboard">
                <h1>TAXI<b class="yellow">DRIVER</b></h1>
            </a>
        </div>
        <button aria-label="Toggle navigation " class=" navbar-toggler " (click)="collapse() " [attr.aria-expanded]="!isCollapsed " aria-controls="collapseExample " id="navigation " type="button ">
      <span class=" navbar-toggler-bar navbar-kebab "> </span>
      <span class=" navbar-toggler-bar navbar-kebab "> </span>
      <span class=" navbar-toggler-bar navbar-kebab "> </span>
    </button>
        <div class=" navbar-collapse " [ngbCollapse]="isCollapsed " id="navigation ">
            <ul class=" navbar-nav ml-auto ">

                <!--Liste des boutons de la navbar-->


                <!--Bouton dropdown "Préparer mon trajet "-->
                <li [hidden]="!autorClient() || !authenticated() " class=" nav-item " ngbDropdown>
                    <a class=" nav-link " data-toggle="dropdown " href="javascript:void(0) " ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block "></div>-->
                        <i class=" tim-icons icon-delivery-fast "> </i>
                        <!--<p class=" d-lg-none ">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar " ngbDropdownMenu>
                        <li class=" nav-link ">
                            <a class=" nav-item " href="http://localhost:4200/#/home/#offres" ngbDropdownItem>
                                Consulter les offres
                            </a>
                        </li>
                        <li class=" nav-link ">
                            <a class=" nav-item " href="javascript:void(0) " ngbDropdownItem>
                Consulter les agences
              </a>
                        </li>
                        <li class=" nav-link ">
                            <a class=" nav-item " href="http://localhost:4200/#/chauffeurs" ngbDropdownItem>
                Voir les meilleurs chauffeurs
              </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Mes trajets "-->
                <li [hidden]="!autorClient() || !authenticated() " class=" nav-item " ngbDropdown>
                    <a class=" nav-link " data-toggle="dropdown " href="javascript:void(0) " ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block "></div>-->
                        <i class=" tim-icons icon-cart "> </i>
                        <!--<p class=" d-lg-none ">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar " ngbDropdownMenu>

                        <li class=" nav-link ">
                            <a class=" nav-item " href="http://localhost:4200/#/reservations" ngbDropdownItem>
                                Mes réservations
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Partager mon expérience "-->
                <li [hidden]="!autorClient() || !authenticated() " class=" nav-item " ngbDropdown>
                    <a class=" nav-link " data-toggle="dropdown " href="javascript:void(0) " ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block "></div>-->
                        <i class=" tim-icons icon-shape-star "> </i>
                        <!--<p class=" d-lg-none ">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar " ngbDropdownMenu>
                        <li class=" nav-link ">
                            <a class=" nav-item " href="http://localhost:4200/#/evaluationclient" ngbDropdownItem>
                                Evaluer mon trajet
                            </a>
                        </li>

                        <li class=" nav-link ">
                            <a class=" nav-item " href="javascript:void(0) " ngbDropdownItem>
                                Commenter une offre
                            </a>
                        </li>

                        <li class=" nav-link ">
                            <a class=" nav-item " href="http://localhost:4200/#/feedbacks" ngbDropdownItem>
                                Consulter mes anciens feedbacks
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Gérer l 'agence"-->
                <li [hidden]="!autorRespo() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-bank"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Ajouter un chauffeur
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Ajouter un véhicule
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Consulter un véhicule
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Editer un véhicule
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Supprimer un véhicule
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Générer un rapport
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Consulter les statistiques
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Gérer les offres"-->
                <li [hidden]="!autorRespo() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-square-pin"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Proposer des offres
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Partager des offres
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Gérer les clients"-->
                <li [hidden]="!autorRespo() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-single-02"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Valider une course
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Confirmer une réservation
                            </a>
                        </li>

                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                Traiter une réclamation
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Consulter mon planning"-->
                <li [hidden]="!autorChauffeur() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-calendar-60"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Consulter mon planning
              </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Consulter mes feedbacks"-->
                <li [hidden]="!autorChauffeur() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-satisfied"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Consulter mes feedbacks
              </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Gérer les comptes"-->
                <li [hidden]="!autorAdmin() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-badge"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Créer un compte
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Consulter un compte
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Editer un compte
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Supprimer un compte
              </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Générer les statistiques"-->
                <li [hidden]="!autorAdmin() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-chart-bar-32"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Générer les statistiques
              </a>
                        </li>
                    </ul>
                </li>

                <!--Bouton dropdown "Gérer les commentaires"-->
                <li [hidden]="!autorAdmin() || !authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <!--<div class=" notification d-none d-lg-block d-xl-block"></div>-->
                        <i class=" tim-icons icon-chat-33"> </i>
                        <!--<p class=" d-lg-none">Notifications</p>-->
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Créer un commentaire
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Consulter un commentaire
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Editer un compmentaire
              </a>
                        </li>
                        <li class=" nav-link">
                            <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Supprimer un commentaire
              </a>
                        </li>
                    </ul>
                </li>

                <!-- Bouton rechercher-->
                <li class=" search-bar input-group">

                    <button class=" btn btn-link" data-target="#searchModal" data-toggle="modal" (click)="open(content)" id="search-button">
            <i class=" tim-icons icon-zoom-split"> </i>
            <span class=" d-lg-none d-md-block"> Rechercher </span>
          </button>
                </li>
                <!--Bouton Connexion-->
                <li [hidden]="authenticated()" class=" nav-item" ngbDropdown>
                    <a class=" nav-link" data-toggle="dropdown" ngbDropdownToggle>
                        <div class=" photo">
                            <img alt="Profile Photo" src="assets/img/anime3.png" />
                        </div>
                        <b class=" caret d-none d-lg-block d-xl-block"> </b>
                        <p class=" d-lg-none">Connexion</p>
                    </a>
                    <ul class=" dropdown-navbar" ngbDropdownMenu>
                        <li class=" nav-link">
                            <a class=" nav-item" href="http://localhost:4200/#/compte" ngbDropdownItem>
                Créer mon compte
              </a>
                            <li class=" nav-link">
                                <a class=" nav-item" href="http://localhost:4200/#/login" ngbDropdownItem>
                Me connecter
              </a>
                            </li>
                    </ul>
                    </li>
                    <li class=" separator d-lg-none"></li>

                    <!--Bouton Déconnexion-->
                    <li [hidden]="!authenticated()" class=" nav-item" ngbDropdown>
                        <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                            <div class=" photo">
                                <img [hidden]="!autorClient()" alt="Profile Photo" src="assets/img/anime4.png" />
                                <img [hidden]="!autorChauffeur()" alt="Profile Photo" src="assets/img/anime5.jpg" />
                                <img [hidden]="!autorRespo()" alt="Profile Photo" src="assets/img/anime7.png" />
                                <img [hidden]="!autorAdmin()" alt="Profile Photo" src="assets/img/anime666.png" />
                            </div>
                            <b class=" caret d-none d-lg-block d-xl-block"> </b>
                            <p class=" d-lg-none">Déconnexion</p>
                        </a>
                        <ul class=" dropdown-navbar" ngbDropdownMenu>
                            <li class=" nav-link">
                                <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Profil
              </a>
                            </li>
                            <li class=" nav-link">
                                <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Paramètres
              </a>
                            </li>
                            <li class=" dropdown-divider"></li>
                            <li class=" nav-link">
                                <a class=" nav-item" (click)="logout()" href="" ngbDropdownItem>
                Me déconnecter
              </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #content let-modal>
    <div class=" modal-header">
        <input class=" form-control" id="inlineFormInputGroup" placeholder="RECHERCHER" type="text" />

        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click ')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
    </div>
</ng-template>