<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class="first-page" style="background-image: url(../../../assets/img/reservations.jpg) ;">
                    <div class=" row" id="row-middle">
                        <div class=" col-md-12">
                            <div class=" card" id="card-middle">
                                <div class=" card-body">
                                    <div class="second-page">
                                        <div class=" typography-line">
                                            <div class=" col-md-12 pr-md-1">
                                                <h2>Mes réservations</h2>
                                                <div class=" row">
                                                    <div class=" col-md-12">
                                                    </div>
                                                    <div class=" card-body"></div>
                                                    <div class=" table-responsive">
                                                        <table class=" table tablesorter" id="">
                                                            <thead class=" text-primary">
                                                                <tr>
                                                                    <th>Départ</th>
                                                                    <th>Arrivée</th>
                                                                    <th>Heure de départ</th>
                                                                    <th class=" text-center">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Gare du Nord</td>
                                                                    <td>Musée du Louvre</td>
                                                                    <td>14h00</td>
                                                                    <td class=" text-center" title="Annuler la réservation"><i class=" tim-icons icon-simple-remove"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>