<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class="first-page" style="background-image: url(../../../assets/img/reservations.jpg) ;">
                    <div class=" card-body">
                        <div class=" typography-line">
                            <a href="http://localhost:4200/#/home">
                                <h1>TAXI<b class="yellow">DRIVER</b></h1>
                            </a>
                        </div>
                    </div>
                    <div class=" row" id="row-middle">
                        <div class=" col-md-12">
                            <div class=" card" id="card-middle">
                                <div class=" card-body">
                                    <div class="second-page">
                                        <div class=" typography-line">
                                            <div class=" col-md-12 pr-md-1">
                                                <h2>Choisir mon chauffeur</h2>
                                                <div class=" row">
                                                    <div class=" col-md-12">
                                                    </div>
                                                    <div class=" card-body"></div>
                                                    <div class=" table-responsive">
                                                        <table class=" table tablesorter" id="">
                                                            <thead class=" text-primary">
                                                                <tr>
                                                                    <th>Nom</th>
                                                                    <th>Agence</th>
                                                                    <th>Note</th>
                                                                    <th class=" text-center">Sélectionner</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Marius</td>
                                                                    <td>Taxi Fontsierre</td>
                                                                    <td>4,8</td>
                                                                    <td class=" text-center" title="Sélectionner ce chauffeur"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Maurice</td>
                                                                    <td>Taxi'Cardie</td>
                                                                    <td>2,6</td>
                                                                    <td class=" text-center" title="Sélectionner ce chauffeur"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Joe</td>
                                                                    <td>Taxi'Cardie</td>
                                                                    <td>1,3</td>
                                                                    <td class=" text-center" title="Sélectionner ce chauffeur"><i class=" tim-icons icon-check-2"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>